name: Smart Contract Deployment

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          egress-policy: audit

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup target add wasm32-unknown-unknown
      - name: Contract Build
        run: |
          cargo build --target wasm32-unknown-unknown --release
      - name: Code Tests
        run: |
          cargo test
      - run: cargo install --locked --version 20.3.0 soroban-cli
      - name: Contract Deployment did-contract to testnet
        run: |
          soroban contract deploy \
          --wasm target/wasm32-unknown-unknown/release/soroban_did_contract.wasm \
          --source ${{ secrets.DEPLOYER_SECRET }} \
          --rpc-url https://soroban-testnet.stellar.org:443 \
          --network-passphrase "Test SDF Network ; September 2015"
